<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

2. Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

3. Create a markdown cell for an introduction.

In this notebook, we provide a summary of various Data Science Tools and their Ecosystem.

10 - Insert a markdown cell to list Objectives

## Objectives

**Objectives:**

- List popular languages for Data Science.
- Introduce essential libraries for data manipulation and visualization.
- Provide examples of evaluating arithmetic expressions in Python.
- Demonstrate conversion of minutes to hours programmatically.
- Showcase a table summarizing popular tools used in Data Science.

4. Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. **Python**
2. **R**
3. **Julia**
4. **Scala**
5. **SQL**
6. **JavaScript**

5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. **Pandas** - Data manipulation and analysis.
2. **NumPy** - Numerical computing and array operations.
3. **Matplotlib** - Data visualization and plotting.
4. **Seaborn** - Statistical data visualization.
5. **SciPy** - Scientific computing and technical computing.

In [4]:
## 6 - Create a markdown cell with a table of Data Science tools

| Tool          | 
| Jupyter       |   
| RStudio       |        
| Apache Hadoop | 
| Apache Spark  | 
| TensorFlow    | 
| Tableau       |      
| Power BI      | 
| KNIME         | 
| RapidMiner    |

7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

8 - Create a code cell to multiply and add numbers

In [6]:
# This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

 9 - Create a code cell to convert minutes to hours

In [8]:
# This will convert 200 minutes to hours by diving by 60

In [11]:

200 / 60

3.3333333333333335

11 - Create a markdown cell to indicate the Author's name

## Author

### Praveen S